<head>
  <script
    async
    src="https://analytics.umami.is/script.js"
    data-website-id="360e23fb-dc51-4801-8584-453e13c2442c"
  ></script>
  <meta content="text/html; charset=UTF-8" name="Content-Type" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width" />

  <meta property="og:site_name" content="{{ title }}" />
  <meta property="og:locale" content="en_US" />

  <meta property="og:title" content="{{ title }}" />
  <meta property="og:type" content="article" />
  {% if description %}
    <meta property="og:description" content="{{ description }}" />
    <meta name="description" content="{{ description }}" />
  {% else %}
    <meta name="description" content="Mariano Zunino's portfolio" />
    <meta property="og:description" content="Mariano Zunino's portfolio" />
  {% endif %}

  <meta
    property="og:image"
    content="{{ '/assets/android-chrome-192x192.png' }}"
  />

  <meta
    name="google-site-verification"
    content="3kt_YjHglsfi--HId1kgto1G2HgiFgDsvnWmYI05JfU"
  />

  <meta name="author" content="Mariano Zunino" />

  {% if permalink %}
    <meta property="og:url" content="https://mzunino.com.uy{{ permalink }}" />
    <link rel="canonical" href="https://mzunino.com.uy{{ permalink }}" />
  {% else %}
    <meta property="og:url" content="https://mzunino.com.uy" />
    <link rel="canonical" href="https://mzunino.com.uy" />
  {% endif %}

  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="{{ '/assets/apple-touch-icon.png' }}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{{ '/assets/favicon-32x32.png' }}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{{ '/assets/favicon-16x16.png' }}"
  />

  <link rel="manifest" href="{{ '/assets/site.webmanifest' }}" />

  <title>{{ title }} - Mariano Zunino</title>
  <link rel="stylesheet" href="{{ '/css/styles.css' }}" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
  />
  <script>
    const isDarkMode = () =>
      localStorage.theme === 'dark' ||
      (!('theme' in localStorage) &&
        window.matchMedia('(prefers-color-scheme: dark)').matches)
    if (isDarkMode()) {
      document.documentElement.classList.add('dark')
    } else {
      document.documentElement.classList.remove('dark')
    }
  </script>
</head>
