{% extends "base.njk" %}
{% block main %}
  <a class="muted small" href="/">
    <i class="fa-solid fa-arrow-left"></i>
    mariano zunino
  </a>

  <div style="display: flex; align-items: center;">
    <img
      width="60px"
      height="60px"
      src="../assets/profile.jpg"
      alt="Profile picture"
      style="margin-right: 10px; border-radius: 10px;"
    />
    <h1>{{ title }}</h1>
  </div>
  {{ content | safe }}
{% endblock %}
