{% extends "base.njk" %}
{% block main %}
  <a class="muted small" href="/">
    <i class="fa-solid fa-arrow-left"></i>
    mariano zunino
  </a>
  <h1>{{ title }}</h1>
  {% if deployed %}
    <a
      class="port-link"
      href="{{ deployed }}"
      target="_blank"
      rel="noopener noreferrer"
      `
      >Deployed</a
    >
  {% endif %}
  {% if source %}
    <a
      class="port-link"
      href="{{ source }}"
      target="_blank"
      rel="noopener noreferrer"
    >
      Source

      <i class="fa-regular fa-file-code"></i>
    </a>
  {% endif %}
  {{ content | safe }}
{% endblock %}
