---
pagination:
  data: gopackages.packages
  size: 1
  alias: goPackage
permalink: '/go/{{ goPackage.name }}/index.html'
---

<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="go-import"
      content="{{ site.domain }}/go/{{ goPackage.name }} {{ goPackage.vcs }} {{ goPackage.repo }}"
    />
    <meta
      name="go-source"
      content="{{ site.domain }}/go/{{ goPackage.name }} {{ goPackage.repo }} {{ goPackage.repo }}/tree/{{ goPackage.branch }}{/dir} {{ goPackage.repo }}/blob/{{ goPackage.branch }}{/dir}/{file}#L{line}"
    />
    <meta
      http-equiv="refresh"
      content="0; url=https://pkg.go.dev/{{ site.domain }}/go/{{ goPackage.name }}"
    />
  </head>
  <body>
    Redirecting to docs at
    <a href="https://pkg.go.dev/{{ site.domain }}/go/{{ goPackage.name }}"
      >pkg.go.dev/{{ site.domain }}/go/{{ goPackage.name }}</a
    >...
  </body>
</html>
